@media screen and (min-width: 1000px) {
    
    .sidebar > hr {
        display: none;
    }
    
    body {
        overflow: auto;
        background-image: url(bg.jpg);
        font-family: 'Montserrat', sans-serif;
    }
    
    #menu {
        display: none;
    }
    
    #intro {
        padding: 20px;
        position:fixed;
        top: 50%;
        left: 50%;
        width:30em;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -16em; /*set to a negative number 1/2 of your width*/
        border-radius: 1em;
        background-color: rgba(211,211,211,0.5);
    }

    #intro > img {
        width: 30%;
        border-radius: 100%;
        vertical-align: middle;
    }

    #name {
        display: inline-block;
        position: relative;
    }

    #name > h1 {
        padding: 10px;
    }

    #name > nav {
        position: absolute;
        top: 80px;
        left: 10px;
    }

    nav > button {
        padding: 8px;
        border: none;
        border-radius: 1em;
        font-family: 'Montserrat', sans-serif;
    }

    nav > button:hover {
        background-color: blue;
        color: white;
        cursor: pointer;
    }

    .container {
        position: fixed;
        z-index: 1;
        top: 30%;
        left: 50%;
        height: 500px;
        width: 55em;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -29em; /*set to a negative number 1/2 of your width*/
        padding: 20px;
        background-color: white;
        border-radius: .2em;
    }

    .sidebar {
        float: left;
        width: 30%;
        text-align: center;
        position: relative;
        padding: 5px;
        height: 500px;
    }

    .sidebar > button {
        position: absolute;
        left: 0px;
        top: 20px;
        border: none;
        background-color: white;
        font-size: 1.9em;
    }

    .sidebar > button:hover {
        color: red;
        cursor: pointer;
    }

    .list > div:hover {
        color: white;
        background-color: blue;
        cursor: pointer; 
    }

    .list > div {
        padding: 5px;
    }

    .details {
        float: right;
        position: relative;
        width: 65%;
        padding: 5px;
        padding-left: 15px;
        height: 500px;
        overflow: auto;
    }

    .link {
        position: absolute;
        right: 0px;
        top: 20px;
        border: none;
        padding: 5px;
        border-radius: 2em;
    }

    .link:hover {
        cursor: pointer;
        background-color: blue;
        color: white;
    }

    h2 {
        display: inline-block;
    }

    .list {
        max-height: 400px;
        overflow: auto;
    }

    .selected {
        background-color: cornflowerblue;
        color: white;
    }

    .container > button {
        position: absolute;
        left: 20px;
        top: 40px;
        border: none;
        background-color: white;
        font-size: 1.9em;
    }

    .container > button:hover {
        color: red;
        cursor: pointer;
    }
}

@media screen and (max-width: 999px) {
    * {
        font-family: 'Montserrat', sans-serif;
    }
    
    body {
        background-image: url(bgmo.jpg);
    }
    
    #intro {
        width: inherit;
        text-align: center;
        background-color: rgba(211,211,211,0.5);
        padding: 2em;
        border-radius: 2em;
        margin-top: 3em;
    }
    
    #intro > img {
        border-radius: 100%;
    }
    
    nav > button {
        padding: 8px;
        border: none;
        border-radius: 1em;
    }
    
    nav > button:hover {
        background-color: blue;
        color: white;
        cursor: pointer;
    }
    
    nav > button:active {
        background-color: blue;
        color: white;
    }
    
    .container {
        padding: 20px;
        background-color: white;
        z-index: 1;
        border-radius: 1em;
    }
    
    .sidebar {
        position: relative;
    }
    
    .sidebar > button {
        font-size: 1.7em;
        border: none;
        background-color: white;
    }
    
    .sidebar > button:active {
        color: red;
    }
    
    .sidebar > h2 {
        display: inline-block;
    }
    
    #menu {
        position: absolute;
        right: 0px;
        top: 18px;
        font-size: 1.4em;
    }
    
    .list > div {
        padding: 10px;
    }
    
    .list > div:active {
        background-color: blue;
        color: white;
    }
    
    .selected {
        background-color: cornflowerblue;
        color: white;
    }
    
    .details {
        position: relative;
    }
    
    .details > div h2 {
        display: inline-block;
        width: 200px;
    }
    
    .details > div img {
        width: 100% !important; 
    }
    
    .link {
        border: none;
        padding: 8px;
        border-radius: 6em;
        position: absolute;
        right: 0px;
        top: 17px;
    }
    
    #contact {
        margin-top: 170px;
        position: relative;
        padding: 20px;
    }
    
    #contact > button {
        position: absolute;
        left: 20px;
        top: 40px;
        border: none;
        font-size: 1.4em;
        background-color: white;
    }
    
    #contact > div {
        margin-top: 5px !important;
    }
}